$font-primary: "IBM Plex Sans", sans-serif;
$primary-color: #6C5DD3;
$primary4: #A79EE5;
$bg-color: hsl(0, 100%, 100%);
$sidebar-text-color: hsl(215, 19%, 59%);
$text-black1: hsl(220, 10%, 12%);
$gray2: #A6A7B2;
$neutral1: #FCFCFC;
$neutral2: #F0F3F6;
$linear-active: linear-gradient(142deg, #415EF4 0%, #7141EF 100%);
$block-border: #F0F3F6;
$sidebar-menu-border: #E9EEF4;
$News: #FF754C;
:root {
}
