$font-primary: "IBM Plex Sans", sans-serif;
$primary-color: #6C5DD3;
$primary4: #A79EE5;
$bg-color: hsl(0, 100%, 100%);
$sidebar-text-color: hsl(215, 19%, 59%);
$text-black1: #1c1e22;
$black90: #232333;
$gray1: #5F6164;
$gray2: #A6A7B2;
$natural: #676A6F;
$natural1: #F8F8F8;
$natural2: #F0F3F6;
$neutral1: #FCFCFC;
$black1: #1B1D21;
$linear-active: linear-gradient(142deg, #415EF4 0%, #7141EF 100%);
$block-border: #F0F3F6;
$sidebar-menu-border: #E9EEF4;
$News: #FF754C;
:root {
}
