// Kwt cau
@use "../abstracts" as abs;

.wrapper {
      max-width: 1440px;
      min-height: 100vh;
      margin: 0 auto;
      // background-color: abs.$bg-color;
      background-color: var(--body-bg-color, #fff);
      display: grid;
      grid-template-columns: 256px minmax(0, 1fr);
}

.main-container {
      padding: 37px 56px;
      container-type: inline-size;
      container-name: mainContainer;
}

.button-discover,
.button-toTop,
.button-dark-mode {
      display: none;
      position: fixed;
      right: 24px;
      bottom: 160px;
      background: abs.$linear-active;
      box-shadow: 0px 6px 24px 0px rgba(108, 93, 211, 0.40);
      border-radius: 100rem;
      padding: 8px;
      z-index: 10;
}

.button-discover {
      bottom: 220px;
}

.button-dark-mode {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      width: 40px;
      height: 40px;
      bottom: 160px;
      background: abs.$linear-active;
      box-shadow: 0px 6px 24px 0px rgba(108, 93, 211, 0.40);
      border-radius: 100rem;
      color: var(--theme-button-color, #000);
      icon {
            width: 24px;
            height: 24px;
      }
}

// html.dark

.button-toTop {
      width: 40px;
      height: 40px;
      bottom: 100px;
      display: flex;
}

@include abs.screenMaxW(1279.98px) {
      .wrapper {
            grid-template-columns: 1fr;
            padding-bottom: 80px;
      }

      .main-container {
            padding: 0 24px;
      }  

      .button-discover {
            display: flex;
      }
}

