@use "../abstracts" as abs;

.topbar {
    padding: 24px 56px;
    background-color: var(--body-bg-color, #fff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
        flex-shrink: 0;
        color: var(--logo, #11142D);
    }
    &-right {
        display: flex;
        align-items: center;
        gap: 24px;

        & > * {
            flex-shrink: 0;
        }

        &-profile {
            display: block;
            @include abs.size(48px);
            border-radius: 100rem;

            & .avatar {
                border-radius: inherit;
                @include abs.imgCover();
            }
        }
    }
}

.search {
    display: flex;
    flex: 0 1 360px;
    gap: 12px;  
    align-items: center;
    padding: 12px 20px;
    border-radius: 12px;
    background-color: var(--search-bg, abs.$natural2);
    cursor: pointer;
    label {
        cursor: pointer;
    }

    &-input {
        flex: 1;
        background-color: transparent;
        color: abs.$primary4;
        border: none;
        font-weight: 500;
        line-height: 146%;
        caret-color: abs.$primary-color;
        @include abs.placeholder(abs.$gray2);
    }
}
 
.btn-upload {
    --gap: 6px;
    padding: 12px 16px;
    height: 48px;
}

.upload {
    input {
        display: none;
    }
}

@include abs.screenMinW(1280px) {
    .topbar-logo {
      display: none;
    }
}

@include abs.screenMaxW(1279.98px) {
    .topbar {
        padding: 20px 24px;
    }
    .topbar-upload,
    .search,
    .topbar-right-action {
        display: none;
    }
}