@use "../../abstracts" as abs;

.feed {
    &-main {
        container-type: inline-size;
        container-name: feedMain;
    }
    &-header {
        display:flex;
        justify-content: space-between;
        align-items: center;
        container-type: inline-size;
        container-name: feedHeader;
        margin-bottom: 40px;
    }

    &-tab {
        display: flex;
        white-space: normal;
        position: relative;
        &-item {
            cursor: pointer;
            font-weight: 500;
            line-height: 1.43;
            font-size: 14px;
            color: abs.$gray1;
            padding: 10px;
            border-bottom: 1px solid abs.$bg3;
            &.active {
                color: abs.$primary-color;
                // border-color: currentColor;
                font-weight: 600;
            }
        }
        &-line {
            width: 100px;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: abs.$primary-color;
            transition: all 0.15s linear;
        }
    }

    &-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        &-text {
            font-size: 14px;
            // color: abs.$gray1;
            color: (--toggle-text, abs.$gray1);
            font-weight: 500;
        }
    }

    @container feedHeader (max-width: 470px) {
        &-toggle-text {
            display: none;
        }
    }

    &-item {
        border: 1px solid var(--block-border-color, abs.$natural2);
        margin-bottom: 30px;
        border-radius: 10px;
        & > * {
            padding: 20px;
        }
        &-header {
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
        &-main {
            border-top: 1px solid var(--block-border-color, abs.$natural2);
            border-bottom: 1px solid var(--block-border-color, abs.$natural2);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            position: relative;
        }
        &-share {
            position: absolute;
            // top: 32px;
            // right: 32px;
            top: 6%;
            right: 6%;
        }
        &-type {
            font-size: 14px;
            color: abs.$gray2;
            line-height: 1.42;
        }
        &-heading {
            line-height: 1.42;
            font-weight: 500;
            font-size: 14px;
            margin-top: 6px;
            margin-bottom: 12px;
        }
        &-time {
            font-size: 14px;
            line-height: 1.42;
            color: abs.$gray2;
            display: flex;
            align-items: center;
            gap: 10px;
            &-ago,
            &-long {
                display: flex;
                align-items: center;
                gap: 4px;
            }
        }
        &-desc {
            font-size: 13px;
            line-height: 1.46;
            margin-top: 16px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
        }
        &-footer {
            display: flex;
            align-items: start;
            justify-content: space-between;
            flex-direction: column;
            gap: 10px;
            &-icons {
                display: flex;
                align-items: center;
                gap: 19px;
            }
            // &-button {
            //     --fw: 500;
            //     font-size: 14px;
            //     // padding: 6px 12px;
            //     align-self: stretch;
            // }
            .button {
                --fw: 500;
                font-size: 14px;
                align-self: stretch;
            }
        }
        @container mainContainer (max-width: 420px) {
            & > * {
                padding: 12px;
            }
            .button {
                font-size: 13px;
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    &-author {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        &-stars {
            display: flex;
            align-items: center;
            transform: translateY(2px);
        }
        &-avatar {
            width: 48px;
            height: 48px;
            flex: 0 0 48px;
            border-radius: 100rem;
            background-color: abs.$scPrimary40;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 100rem;
            }
        }
        &-verify {
            position: absolute;
            z-index: 2;
            right: 0;
            bottom: -4px;
        }
        &-name {
            font-size: 14px;
            font-weight: 500;
        }
        &-rating {
            display: flex;
            justify-content: center;
            align-items: center;
            color: abs.$gray2;
            margin-top: 2px;
            margin-bottom: 4px;
            gap: 4px;
            line-height: 1.42;
        }
    }

    &-image {
        flex: 0 0 152px;
        aspect-ratio: 1;
        overflow: hidden;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    &-date {
        color: abs.$gray2;
        font-weight: 400;
    }
    
    @container feedMain (min-width: 500px) {
        &-item {
            &-main {
                flex-direction: row;
            }
            &-share {
                top: 20px;
                right: 20px;
            }
            &-footer {
                flex-direction: row;
            }
        }
        &-author {
            &-header {
                display: flex;
                align-items: center;
                gap: 4px;
                margin-bottom: 4px;
            }
            &-rating {
                gap: 10px;
                margin: 0;
            }
        }
    }
}