@use "../abstracts" as abs;

.heading {
    --mb: 0;
    font-weight: 600;
    color: abs.$black1;
    margin-bottom: var(--mb);
}

@media screen and (min-width: 1440px) {
    .wrapper {
        max-width: auto;
    }
}