@use "../abstracts" as abs;

.heading {
    --mb: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    // color: abs.$black1;
    color: var(--heading-color, abs.$black1);
    margin-bottom: var(--mb);
}

.icon {
    cursor: pointer;
}

.widget {
    margin-bottom: 40px;
    &-header {
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    &-view-all {
        display: flex;
        align-items: center;
        gap: 2px;
        color: abs.$gray2;
        font-size: 13px;
        line-height: 1.38;
    }
}
.page-heading {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 20px;
}
.page-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.08;
}
.page-heading-desc {
    color: abs.$gray2;
    font-size: 14px;
    line-height: 1.42;
    font-weight: 500;
}


// @media screen and (min-width: 1440px) {
//     .wrapper {
//         max-width: auto;
//     }
// }