@use "../abstracts" as abs;
body, a {
      font-family: abs.$font-primary;
      font-size: 15px;
      // color: abs.$text-black1;
      color: var(--global-text, abs.$text-black1);
      font-weight: 400;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
      font-weight: 600;
}