mixin menuItem(text, icon = "", href = "#")
    li.menu-item
        a.menu-link(href= href)
                span.menu-icon 
                    if icon 
                        case icon 
                            when "icon-home"
                                include ../icons/_icon-home
                            when "icon-trending"
                                include ../icons/_icon-trending
                            when "icon-topic"
                                include ../icons/_icon-topic
                            when "icon-playlist"
                                include ../icons/_icon-playlist
                            when "icon-subcrtion"
                                include ../icons/_icon-subcrtion
                            when "icon-dashboard"
                                include ../icons/_icon-dashboard
                            when "icon-episode"
                                include ../icons/_icon-episode
                            when "icon-team"
                                include ../icons/_icon-team
                            when "icon-subcrer"
                                include ../icons/_icon-subcrer
                            when "icon-medal"
                                include ../icons/_icon-medal
                span.menu-text=text