.host 
    h2.host-heading.heading Popular Hosts
    ul.host-list 
        each user in [{name: "Thomas", color: "#FFBAA5"}, {name: "Darell", color: "#FFD381"}, {name: "Arlene", color: "#B6AEE9"}, {name: "Kristin", color: "#FFB5CD"}, {name: "Courtney", color: "#FFE2AB"}, {name: "Cody", color: "#FFC7D9"}, {name: "Casadei", color: "#B6AEE9"}, {name: "Casadei", color: "#B6AEE9"}, {name: "Casadei", color: "#B6AEE9"}, {name: "Casadei", color: "#B6AEE9"}] 
            li.host-item 
                .host-avatar(style= `--color: ${user.color}`)
                    img(srcSet="./images/img-host-user.png 2x", alt="")
                span.host-name= user.name