.trending 
    h3.trending-heading.heading Trending
    .trending-banner 
        .trending-content 
            h3.trending-title
                span UX Design 
                | Process: Mental Modeling Framework.
            p.trending-podcast Podcast Episode - 1
            p.trending-author 
                | Thomas L. Fletcher 
                span.author-note ( UI Designer at UIHUT )
            button.button.button-primary.button--primary 
                include ../../icons/_icon-play
                span Play now
        .trending-vector 
            include ../../icons/_icon-vector
        .trending-frame 
            include ../../icons/_icon-frame
        //- img.trending-frame(srcSet="./images/frame.png 2x", alt="frame")
        //- img.trending-vector(srcSet="./images/vector.png 2x", alt="vector")
        .trending-image
            img(srcSet="./images/img-trending-man.png 2x", alt="trending-man")