@use "../abstracts" as abs;

// @media (prefers-color-scheme: dark) {
//   :root {
//     --logo: #fff;
//     --body-bg-color: #242731;
//     // --sidebar-line: #373A43;
//     --block-border-color: #373A43;
//     --search-bg: #373A43;
//     --menu-color: #ABABAD;
//     --heading-color: #fff;
//     --global-text: white;
//     --banner-bg: #050F16;
//     --host-name: abs.$natural4;
//     --trending-txt-gray2: #A6A7B2;
//     --trending-author: #fff;
//     --toggle-text: #fff;
//     // --feed-border: #373A43;
//     --icon-path-gray: #676A6F;
//     --icon-color: #A5B4CB;
//     --theme-button-color: #000;
//   }
// }

html.dark {
    --logo: #fff;
    --body-bg-color: #242731;
    --txt-gray2: #A6A7B2;
    // --sidebar-line: #373A43;
    --block-border-color: #373A43;
    --search-bg: #373A43;
    --menu-color: #ABABAD;
    --heading-color: #fff;
    --global-text: white;
    --banner-bg: #050F16;
    --host-name: abs.$natural4;
    --trending-txt-gray2: #A6A7B2;
    --trending-author: #fff;
    --toggle-text: #fff;
    // --feed-border: #373A43;
    --icon-path-gray: #676A6F;
    --icon-color: #A5B4CB;
    --theme-button-color: #fff;
    --scroolbar-thumb: #6C5DD3;
    --scroolbar-thumb-hover: #A79EE5;
    --playlist-shadow-1: rgba(8, 8, 9, 0.25);
    --playlist-shadow-2: rgba(15, 20, 39, 0.20);
    --playlist-date-color: #A6A7B2;
    --playlist-episode-count: #fff;
    --playlist-episode-bg: #373A43;
}
