.navigation 
    .navigation-item.nav-menu-icon
        include ../icons/_icon-menu
    .navigation-item
        include ../icons/_icon-search
    .navigation-item
        +uploadBtn("navigation-upload-btn", "navigation-upload")
    a.action-icon.new.navigation-item
        include ../icons/_icon-message
    a.action-icon.new.navigation-item
        include ../icons/_icon-noti
