.topbar 
    a.topbar-logo(href="/") 
        //- img(srcSet="./images/logo.png 2x", alt="GocastUI")
        include ../icons/_icon-logo
    .search 
        img.search-icon(src="./images/icons/icon-search.svg", alt="icon-search")
        input.search-input(type="text" placeholder="Search 2+ million podcasts and listeners")
    .topbar-right
        //- button.button.button--primary.btn-upload.button-primary
        .topbar-upload.upload
            label(for="upload-file").button.button--primary.btn-upload.button-primary
                img.btn-upload-icon(src="./images/icons/icon-upload.svg", alt="upload-icon")
                span.btn-upload-text Upload
            input#upload-file(type="file", name="").upload-input
        a.topbar-right-action.action-icon(href="#") 
            include ../icons/_icon-message
            //- img(src="./images/icons/icon-message.svg", alt="message-icon")
        a.topbar-right-action.action-icon.new(href="#") 
            include ../icons/_icon-noti
            //- img(src="./images/icons/icon-noti.svg", alt="noti-icon")
        a.topbar-right-profile(href="#")
            img.avatar(srcSet="./images/myAvatar.png 2x", alt="avatar") 

