*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

.action-icon {
  position: relative;
}
.action-icon::after {
  content: "";
  flex-shrink: 0;
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #FF754C;
  border: 2px solid #fff;
  border-radius: 100rem;
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
  display: none;
}
.action-icon.new::after {
  display: block;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 15px;
  color: #1c1e22;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.heading {
  --mb: 0;
  font-weight: 600;
  line-height: 1.5;
  color: #1B1D21;
  margin-bottom: var(--mb);
}

.icon {
  cursor: pointer;
}

.button {
  --gap: 8px;
  --fw: 600;
  background-color: #6C5DD3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
  border-radius: 8px;
  gap: var(--gap);
  font-style: normal;
  font-size: 15px;
  line-height: 1.46;
  color: #FCFCFC;
  font-weight: var(--fw);
  transition: all 0.1s linear;
  cursor: pointer;
}
.button--primary {
  color: #FCFCFC;
  background-color: #6C5DD3;
}

.toggle {
  width: 30px;
  height: 17px;
  display: flex;
  align-items: center;
  border-radius: 100rem;
  padding: 2px;
  background-color: #A6A7B2;
  cursor: pointer;
}
.toggle-spinner {
  border-radius: 100rem;
  background-color: #fff;
  width: 14px;
  aspect-ratio: 1;
  transition: all 0.1s linear;
}
.toggle.active {
  background: linear-gradient(142deg, #415EF4 0%, #7141EF 100%);
}
.toggle.active .toggle-spinner {
  transform: translate(12px);
}

.topbar {
  padding: 24px 56px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar-right {
  display: flex;
  align-items: center;
  gap: 24px;
}
.topbar-right > * {
  flex-shrink: 0;
}
.topbar-right-profile {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 100rem;
}
.topbar-right-profile .avatar {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search {
  display: flex;
  flex: 0 1 360px;
  gap: 12px;
  align-items: center;
  padding: 12px 20px;
  border-radius: 12px;
  background-color: #F0F3F6;
}
.search-input {
  flex: 1;
  background-color: transparent;
  color: #A79EE5;
  border: none;
  font-weight: 500;
  line-height: 146%;
  caret-color: #6C5DD3;
}
.search-input::-webkit-input-placeholder {
  color: #A6A7B2;
}
.search-input::-moz-input-placeholder {
  color: #A6A7B2;
}

.btn-upload {
  --gap: 6px;
  padding: 12px 16px;
  height: 48px;
}

.upload-input {
  display: none;
}

.sidebar {
  padding: 48px 30px;
  background-color: #fff;
  color: hsl(215, 19%, 59%);
  border-right: 1px solid #F0F3F6;
}
@media screen and (max-width: 1279.98px) {
  .sidebar {
    display: none;
  }
}

.logo {
  display: block;
  margin-bottom: 44px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: hsl(215, 19%, 59%);
}
.menu:not(:last-child):after {
  content: "";
  display: block;
  height: 1px;
  background-color: #E9EEF4;
  margin-block: 26px;
}
.menu-title {
  font-size: 13px;
  line-height: 146%;
  margin-bottom: 10px;
  padding: 0 21px;
}
.menu-link {
  position: relative;
  overflow: hidden;
  padding: 8px 30px 8px 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: hsl(215, 19%, 59%);
  font-size: 14px;
  line-height: 143%;
  text-transform: capitalize;
  z-index: 0;
  transition: all 0.2s linear;
}
.menu-link::after {
  content: "";
  border-radius: inherit;
  position: absolute;
  inset: 0;
  background: linear-gradient(142deg, #415EF4 0%, #7141EF 100%);
  background-repeat: no-repeat;
  transform: translateX(-100%);
  transition: all 0.2s linear;
  z-index: -1;
}
.menu-link:hover {
  color: #fff;
}
.menu-link:hover::after {
  transform: translateX(0);
}
.menu-link:hover [fill^="#E5"] {
  fill: #fff;
  opacity: 1;
}
.menu-link:hover [fill^="#A5"] {
  fill: #A79EE5;
  mix-blend-mode: normal;
}
.menu-icon {
  flex: 0 0 24px;
}

.wrapper {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: hsl(0, 100%, 100%);
  display: grid;
  grid-template-columns: 256px minmax(0, 1fr);
}

.main-container {
  padding: 37px 56px;
}

@media screen and (max-width: 1279.98px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .main-container {
    padding: 24px;
  }
}

/*# sourceMappingURL=app.css.map */
