.host {
  padding-bottom: 28px;
}
.host-heading {
  --mb: 20px ;
}
.host-list {
  display: flex;
  justify-content: space-between;
}
.host-item {
  --avatar-size: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin: 4px;
}
@media screen and (min-width: 768px) {
  .host-item {
    --avatar-size: 64px;
    gap: 6px;
  }
}
.host-avatar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: var(--avatar-size);
  height: var(--avatar-size);
  cursor: pointer;
  border-radius: 100rem;
  overflow: hidden;
  background-color: var(--color);
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px #FFABC6;
}
.host-name {
  font-size: 14px;
  color: #5F6164;
  user-select: none;
}

.trending {
  position: relative;
  padding: 55px 0 36px;
  container-type: inline-size;
  container-name: trendingBlock;
}
.trending-heading {
  --mb: 11px;
}
.trending-banner {
  padding: 20px;
  background-color: #F8F8F8;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  position: relative;
}
.trending-content {
  flex: 0 0 310px;
}
.trending-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.45;
  margin-bottom: 11px;
}
.trending-title span {
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(142deg, #415EF4 0%, #7141EF 100%);
}
.trending-podcast {
  font-size: 14px;
  color: #676A6F;
  line-height: 1.42;
  margin-bottom: 4px;
}
.trending-author {
  font-size: 14px;
  color: #232333;
  line-height: 1.42;
  margin-bottom: 20px;
}
.trending-author span {
  color: #676A6F;
}
.trending-vector, .trending-frame {
  position: absolute;
}
.trending-frame {
  bottom: 0;
  right: 35%;
}
.trending-vector {
  right: 60px;
  top: 48px;
}
.trending-image {
  position: absolute;
  bottom: 0;
  right: 15px;
  max-width: 332px;
}
@container trendingBlock (max-width: 630px) {
  .trending-image {
    display: none;
  }
  .trending-content {
    flex: 1;
  }
}

.feed-main {
  container-type: inline-size;
  container-name: feedMain;
}
.feed-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  container-type: inline-size;
  container-name: feedHeader;
  margin-bottom: 40px;
}
.feed-tab {
  display: flex;
  white-space: normal;
}
.feed-tab-item {
  cursor: pointer;
  font-weight: 500;
  line-height: 1.43;
  font-size: 14px;
  color: #5F6164;
  padding: 10px;
  border-bottom: 1px solid #373A43;
}
.feed-tab-item.active {
  color: #6C5DD3;
  border-color: currentColor;
  font-weight: 600;
}
.feed-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.feed-toggle-text {
  font-size: 14px;
  color: #5F6164;
  font-weight: 500;
}
@container feedHeader (max-width: 470px) {
  .feed-toggle-text {
    display: none;
  }
}
.feed-item {
  border: 1px solid #F0F3F6;
  margin-bottom: 30px;
  border-radius: 10px;
}
.feed-item > * {
  padding: 20px;
}
.feed-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feed-item-main {
  border-top: 1px solid #F0F3F6;
  border-bottom: 1px solid #F0F3F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}
.feed-item-share {
  position: absolute;
  top: 32px;
  right: 32px;
}
.feed-item-type {
  font-size: 14px;
  color: #A6A7B2;
  line-height: 1.42;
}
.feed-item-heading {
  color: #1B1D21;
  line-height: 1.42;
  font-weight: 500;
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 12px;
}
.feed-item-time {
  font-size: 14px;
  line-height: 1.42;
  color: #A6A7B2;
  display: flex;
  align-items: center;
  gap: 10px;
}
.feed-item-time-ago, .feed-item-time-long {
  display: flex;
  align-items: center;
  gap: 4px;
}
.feed-item-desc {
  font-size: 13px;
  color: #1B1D21;
  line-height: 1.46;
  margin-top: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.feed-item-footer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.feed-item-footer-icons {
  display: flex;
  align-items: center;
  gap: 19px;
}
.feed-item-footer .button.button-primary {
  --fw: 500;
  font-size: 14px;
  align-self: stretch;
}
.feed-author {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.feed-author-stars {
  display: flex;
  align-items: center;
  transform: translateY(2px);
}
.feed-author-avatar {
  width: 48px;
  height: 48px;
  flex: 0 0 48px;
  border-radius: 100rem;
  background-color: #FFC7D9;
  position: relative;
}
.feed-author-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100rem;
}
.feed-author-verify {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: -4px;
}
.feed-author-name {
  font-size: 14px;
  font-weight: 500;
}
.feed-author-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #A6A7B2;
  margin-top: 2px;
  margin-bottom: 4px;
  gap: 4px;
}
.feed-image {
  flex: 0 0 152px;
  aspect-ratio: 1;
  overflow: hidden;
  width: 100%;
}
.feed-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.feed-date {
  color: #A6A7B2;
  font-weight: 400;
}
@container feedMain (min-width: 500px) {
  .feed-item-main {
    flex-direction: row;
  }
  .feed-item-share {
    top: 20px;
    right: 20px;
  }
  .feed-item-footer {
    flex-direction: row;
  }
  .feed-author-header {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 4px;
  }
  .feed-author-rating {
    gap: 10px;
    margin: 0;
  }
}

.top-podcast-images {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 12px;
}
.top-podcast-images img {
  border-radius: 10px;
  aspect-ratio: 1;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.1s linear;
}
.top-podcast-images img:hover {
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px 0px;
}

.follow-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.follow-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.follow-author {
  display: flex;
  align-items: center;
  gap: 12px;
}
.follow-author-avatar {
  flex: 0 0 46px;
  aspect-ratio: 1;
  border-radius: 8px;
  box-shadow: 0 0 0 2px white, 0 0 0 3px #FFC7D9;
}
.follow-author-avatar img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}
.follow-author-name {
  font-weight: 500;
}
.follow-author-username {
  color: #A6A7B2;
  line-height: 1.5;
  margin-top: 4px;
}
.follow-action .button {
  padding: 6px 18px;
}

.listen-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.listen-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 11px;
  cursor: pointer;
}
.listen-image {
  flex: 0 0 120px;
  border-radius: 6px;
}
.listen-image img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}
.listen-info {
  flex: 1;
  line-height: 1.46;
}
.listen-desc {
  color: #A6A7B2;
  font-size: 13px;
}
.listen-title {
  font-size: 15px;
  margin: 4px 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.listen-meta {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #A6A7B2;
}
.listen-meta-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.topic-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 12px 22px;
}
.topic-item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.topic-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #1B1D21;
  opacity: 0.7;
  border-radius: inherit;
}
.topic-image {
  width: 100%;
  height: 86px;
  object-fit: cover;
  border-radius: inherit;
}
.topic-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  padding: 10px;
}
.topic-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
.topic-podcast {
  font-size: 13px;
  line-height: 1.46;
}

.home-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  gap: 60px;
}

/*# sourceMappingURL=home.css.map */
